VITE_FIREBASE_API_KEY=AIzaSyC1krjYfHUhjTdDc-aRB24KylwNiZWbfYo
VITE_FIREBASE_AUTH_DOMAIN=glucocare-68c3f.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=glucocare-68c3f
VITE_FIREBASE_STORAGE_BUCKET=glucocare-68c3f.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=29624315523
VITE_FIREBASE_APP_ID=1:29624315523:web:9833bb2ca9412b3ab8b5b6
